<h1>
    Forgot Password Form
</h1>

<form action="/users/forgot-password-action" method="POST">
    <input type="email" name = "email" placeholder="Enter Email" required>
    <button type = "submit">Send </button>
</form>