<h1>
    Password Reset Form
</h1>

<form action="/users/reset-password-action/<%= token%>" method = "POST">
    <input type="password" name="password" placeholder="password" required>
    <input type="password" name="confirm_password" placeholder="Confirm password" required>
    <button type = "submit"> Reset</button>
</form>